/* h1, input, button */
:root{
 --btn-primary: #a1d9f0; 
 --blue: cornflowerblue;
 --white: #f7f7f7;
}
h1{
 font-weight: 100;
 font-size: 7.2vw;
 margin-bottom: 10px;
}
form{
 padding: 10px;
}
p{
 color: #a7a7a7;
}
input {
 margin-right: 10px;
 margin-bottom: 10px;
 box-shadow: none;
}
button{
 background-color: var(--blue);
 color: var(--white)
}
input, button{
 font-size: 1.4rem;
 letter-spacing: 1px;
 border:0;
 border-bottom: 1px solid var(--blue);
 outline: 0;
}
ul, li, p{
 font-size: 20px;
 padding: 5px;
 margin-right: 5px;
 cursor: pointer;
}